@mixin hook-base-h1(){
	@extend .uk-box-shadow-large;
	background-color: $global-background;
	transform: rotate(-3deg);
	display: inline-block;
	padding-left: $global-gutter * 2;
	padding-right: $global-gutter;
	margin-top: $global-gutter;
}

@mixin hook-base-h2(){
	@extend .uk-h1;
	@extend .uk-text-bold;
	@extend .uk-light;
	background-color: $cd-orange;
}

@mixin hook-card(){
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}

@mixin hook-card-header(){
	background-color: $cd-teal;
}

@mixin hook-table(){
	width: auto;
}

.cd-logo {
	font-family: "League-Gothic", sans-serif !important;
}

.cd-big-date {
	@extend .uk-heading-small;
	@extend .uk-text-bold;
	color: $global-inverse-color !important;
}

.cd-excerpt {
	h1, h2, h3, h4, h5 {
		@extend p;
		background-color: $global-background;
		transform: none;
		padding: 0;
		font-weight: bold;
		font-size: $global-medium-font-size;
		color: $global-color;
		box-shadow: none;
	}
}

table {
	@extend .uk-table;
	@extend .uk-table-striped;
}
