$cd-purple: #642580;
$cd-teal: #41BAC1;
$cd-orange: #ED684A;

$global-background: #fff;
$global-primary-background: $cd-purple;
$global-secondary-background: $cd-teal;

$global-inverse-color: #fff;
$inverse-global-color: rgba($global-inverse-color, 0.9);

$global-large-box-shadow: 0 14px 25px rgba(0,0,0,0.5);

$heading-bullet-border: $cd-purple;
