<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}

<body>

<div>
  <div class="uk-inline uk-width-1-1 uk-background-cover" style="background-image: url(assets/img/{{ page.cover.image }})" uk-height-viewport="offset-top: true; offset-bottom: true">
    <h1 class="uk-background-default">
        <span class="uk-heading-medium cd-logo">CoderDojo Utsunomiya</span><br>
        <span class="uk-h4">コーダー道場 宇都宮</span>
    </h1>
    <div class="uk-position-bottom-right uk-overlay-primary uk-text-meta">
      CoderDojo Champions' Handbook より
    </div>
  </div>

  <div class="uk-section uk-background-primary uk-light">
    <div class="uk-container">
      <!-- <h2 class="uk-text-center">{{ page.abstract.head }}</h2> -->
      {{ page.abstract.desc | markdownify }}
    </div>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container">
    <h2>CoderDojo Utsunomiya の特徴</h2>
    <div class="uk-grid-match uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
      {%- for feature in page.features -%}
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h3>{{ feature.head }}</h3>
          {{ feature.desc | markdownify }}
        </div>
      </div>
      {%- endfor -%}
    </div>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container">
    <h2>CoderDojo ではみんなに役割がある</h2>
    <div class="uk-grid-match uk-child-width-1-2" uk-grid>
      {%- for role in page.roles-%}
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h3>{{ role.name }}</h3>
          {{ role.desc | markdownify }}
        </div>
      </div>
      {%- endfor -%}
    </div>
  </div>
</div>


<div class="uk-section">
  <div class="uk-container">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}

  </div>
</div>

{%- include footer.html -%}
</body>

</html>
