---
layout: default
---
<div>
  <div class="uk-section uk-background-cover" style="position: relative; background-image: url({{ page.image | relative_url }})" uk-height-viewport="offset-top: true; offset-bottom: true">
    <div class="uk-container">
      <h1 class="uk-background-default">
          <span class="uk-heading-medium cd-logo">CoderDojo Utsunomiya</span><br>
          <span class="uk-h4">コーダー道場 宇都宮</span>
      </h1>
    </div>
    {% if page.image_comment %}
    <div class="uk-position-bottom-right uk-overlay-primary uk-text-meta">
      {{ page.image_comment }}
    </div>
    {% endif %}
  </div>

  <div class="uk-section uk-background-primary uk-light">
    <div class="uk-container">
      {{ page.abstract.desc | markdownify }}
    </div>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container">
    <h2>開催予定</h2>
    <p>月1回程度のペースで定期的に開催する予定です。</p>
    <div uk-grid>
      {% assign notice_posts = site.posts | where: "categories", "dojo-notice" | sort: "dojo-start" %}
      {% for post in notice_posts %}
      <div class="uk-width-1-2@m">
        <div class="uk-card">
          <div class="uk-card-header uk-text-center uk-text-emphasis">
            <h3 class="uk-card-title uk-heading-medium uk-text-bold uk-margin-remove-bottom">
              第 {{ post.dojo_num }} 回
            </h3>

            <p class="uk-text-bold uk-margin-remove">
            {% if post.dojo_fixed %}
            <time datetime="{{ post.dojo_date | date: "%F"}}">
            <span class="cd-big-date">{{ post.dojo_start | date: "%Y"  }}</span>年
            <span class="cd-big-date">{{ post.dojo_start | date: "%-m" }}</span>月
            <span class="cd-big-date">{{ post.dojo_start | date: "%-d" }}</span>日
            <span class="cd-big-date">{{ post.dojo_start | date: "%a"  }}</span>
            </time>
            {% else %}
            <span class="cd-big-date">{{ post.dojo_start | date: "%Y"  }}</span>年
            <span class="cd-big-date">{{ post.dojo_start | date: "%-m" }}</span>月
            {% endif %}
            </p>

            <p class="uk-text-bold uk-text-large uk-margin-remove">
            {% if post.dojo_fixed %}
              {{ post.dojo_start | date: "%R" }} - {{ post.dojo_end | date: "%R" }}
            {% else %}
              計画中
            {% endif %}
            </p>
            <p class="margin-remove-top uk-margin-remove"><span uk-icon="location"></span>
              {{ post.dojo_place }}
            </p>
          </div>

          <div class="uk-card-body">
            <p>{{ post.excerpt}}</p>
            <p><a href="{{ post.url | relative_url }}">詳細...</a></p>

            {% if post.dojo_fixed %}
            <a href="{{ post.dojo_url }}"><button class="uk-button uk-button-primary">参加申し込みはこちら</button></a>
            {% else %}
            <button class="uk-button uk-button-primary" disabled>参加申し込みはこちら</button>
            {% endif %}

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container">
    <h2>NEWS</h2>

    <div uk-grid>
      {% for post in site.posts %}
      <div class="uk-width-1-3@m">
        <a class="uk-link-toggle" href="{{ post.url | relative_url }}">
        <div class="uk-card uk-card-hover">
          <div class="uk-card-header uk-background-primary uk-light">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              {% if post.image %}
              <div class="uk-width-auto">
                <img width="64" height="64" src="{{ post.image | relative_url }}">
              </div>
              {% endif %}
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{ post.title }}</h3>
                <p class="uk-text-meta uk-margin-remove-top">
                  <time datetime="{{ post.date | date: "%F"}}">
                    {{ post.date | date: "%Y" }} 年
                    {{ post.date | date: "%-m" }} 月
                    {{ post.date | date: "%-d" }} 日 
                  </time>
                </p>
              </div>
            </div>
          </div>
          {% if post.excerpt %}
          <div class="uk-card-body">
            <div class="cd-excerpt">
              {{ post.excerpt }}
            </div>
            <p class="uk-margin-remove uk-text-right uk-link-text">さらに詳しく...</p>
          </div>
          {% endif %}
        </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container">
    <h2>CoderDojo Utsunomiya とは?</h2>

    {%- for feature in page.features -%}
    <h3 class="uk-heading-bullet">{{ feature.head }}</h3>
    <div uk-grid>
      <div class="uk-width-2-3@m">
        {{ feature.desc | markdownify }}
      </div>
      <div class="uk-width-1-3@m">
        {% if feature.img %}
        <img src="{{ feature.img | relative_url }}">
        {% endif %}
      </div>
    </div>
    {%- endfor -%}

  </div>
</div>

<div class="uk-section">
  <div class="uk-container">
    <h2>スタッフ</h2>
    <div class="uk-margin-top" uk-grid>
      {% for mentor in page.mentors %}
      <div class="uk-width-1-2@m">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          {% if mentor.image %}
          <div class="uk-width-auto">
            <img class="uk-border-circle" width="96" height="96" src="{{ mentor.image | relative_url }}">
          </div>
          {% endif %}
          <div class="uk-width-expand">
            <h3 class="uk-card-title">{{ mentor.name }}</h3>
            <p>{{ mentor.desc }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

