---
layout: default
---


<div class="uk-section uk-light uk-height-viewport uk-background-cover" style="background-image: url(assets/img/hoge.jpg)">
  <div class="uk-container">
    <h1>{{ page.cover.head }}</h1>
  </div>
</div>

<div class="uk-section uk-light uk-background-primary">
  <div class="uk-container">
    <h2>{{ page.abstract.head }}</h2>
    {{ page.abstract.desc | markdownify }}
  </div>
</div>


<div class="uk-section">
  <div class="uk-container">
    <h2>CoderDojo Utsunomiya の特徴</h2>
    <div class="uk-grid-match uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
      {%- for feature in page.features -%}
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h3>{{ feature.head }}</h3>
          {{ feature.desc | markdownify }}
        </div>
      </div>
      {%- endfor -%}
    </div>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container">
    <h2>CoderDojo ではみんなに役割がある</h2>
    <div class="uk-grid-match uk-child-width-1-2" uk-grid>
      {%- for role in page.roles-%}
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h3>{{ role.name }}</h3>
          {{ role.desc | markdownify }}
        </div>
      </div>
      {%- endfor -%}
    </div>
  </div>
</div>


<div class="uk-section">
  <div class="uk-container">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}

  </div>
</div>
