---
layout: default
---
{% if page.image %}
<div class="uk-section uk-background-cover" style="background-image: url({{ page.image | relative_url }});">
{% else %}
<div class="uk-section uk-background-primary">
{% endif %}
  <div class="uk-container uk-padding-remove-top">
    <a href="{{ "/" | relative_url }}" class="uk-icon-button uk-background-primary uk-light" uk-icon="icon: home"></a>
  </div>

  <div class="uk-container">
    <h1>{{ page.title | escape }}</h1>
  </div>

  <div class="uk-padding-large">
  </div>
</div>

<div class="uk-container uk-padding-remove-vertical uk-margin-remove-vertical">
  <p class="uk-padding-remove-vertical uk-margin-remove-vertical uk-text-meta">
    <time datetime="{{ page.date | date: "%F"}}">
      {{ page.date | date: "%Y" }} 年
      {{ page.date | date: "%-m" }} 月
      {{ page.date | date: "%-d" }} 日 
    </time>
  </p>
</div>

<div class="uk-section">
  <div class="uk-container">
    {{ content }}
  </div>
</div>
